body {
	background-color: #fff;
}

#bannerContainer {
	background-color: #11551C;
}


#mat {
	background-color:#8DCF8D;
}

#content {
	background-color:white;
}

#navbar {
	background: url("../img/header-background.png") repeat-x
}

#masthead {
	background:url("../img/mast-head.png") no-repeat
}